a {
	color: #edd782;
	font-size: 42;
}

a:hover {
	color: #ffe684;
}

a:visited {
	color: #c1a73f;
}

body {
	background-color: #4f4c40;
}

.textCenter {
	padding: 5px;
	text-align: center;
}

#map {
    height: 500px;
    width: 98%;
    padding: 5px;
}

p {
	color: #c1a73f;
}